@{
    ViewData["Title"] = "Home Page";
}

<div class="background">
    <div class="blur-design"></div>
    <img class="timbol-icon" src="@Url.Content("~/images/SuperToroid-Yellow-Glossy.png")" alt="timbol">
    <div class="timbol-bg"></div>

    <div class="main-container">
        <div class="title">MainPortfolio</div>
        @*<nav>
            <ul>
                <li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>

                <li><a class="nav-link " asp-area="" asp-controller="Portfolio" asp-action="About">About</a></li>

                <li><a class="nav-link " asp-area="" asp-controller="Portfolio" asp-action="Projects">Projects</a></li>

                <li><a class="nav-link " asp-area="" asp-controller="Join" asp-action="Create">Join Me</a></li>

                <li><a class="nav-link " asp-area="" asp-controller="Join" asp-action="Index">View Members</a></li>

                <partial name="_LoginPartial" />
            </ul>
        </nav>*@
    </div>

    <img class="blue-pill-icon" src="@Url.Content("~/images/Pill-Blue-Glossy.png")" alt="blue-pill">
    <img class="cube-icon" src="@Url.Content("~/images/RoundCube-Orange-Glossy.png")" alt="cube-icon">
    <img class="sphere-icon" src="@Url.Content("~/images/Sphere-White-Matte.png")" alt="sphere-icon">
</div>